openapi: 3.0.3
info:
  title: DCE API
  version: 1.0 (updated 2026-10-05)
  description: >-
    **Last updated:** 2026-10-05 — see the
    [Changelog](https://docs.dcepay.io/docs/changelog) for what changed.


    **DCE API** — Next.js service for merchant cryptocurrency operations:
    balances, deposits, deposit sessions, exchange rates, transaction history,
    withdrawals (with configurable fees), settlements, and internal webhook
    event tooling where exposed.


    **Authentication:** send the API key in the `Authorization` header on all
    routes except `GET /api/deposit-page` (use the raw key; `Bearer` prefix is
    optional). The deposit page uses a `token` query parameter from the
    deposit-session flow.


    **Networks** (request body `network` where applicable): `ETH`, `TRX`, `SEP`,
    `TRX_SHASTA`, `BNB`, `tBNB`, `POL`, `POL_AMOY` (see Prisma `NetworkSymbol`).


    **Amounts:** request and response monetary fields are often decimal
    **strings** to preserve precision. Merchant-linked users may require an
    **ACTIVE** `merchantProfile` for deposit creation.


    **Errors:** validation issues typically return **400** with JSON `details`;
    auth failures **401**; insufficient balance on withdrawals **400** with
    balance/fee hints.


    **Merchant webhooks (outbound):** configure `webhookUrl`, `webhookSecret`,
    `webhookEnabled`, and optional `webhookEvents`, `webhookTimeout`, and
    `webhookRetryCount` on the merchant profile (via user/merchant APIs). When a
    deposit, withdrawal, or ledger transaction reaches a notifyable state, the
    service **POST**s JSON to `webhookUrl` with:

    - `Content-Type: application/json`

    - `X-Webhook-Event` — event name (see below)

    - `X-Webhook-Signature` — lowercase **hex** HMAC-SHA256 of the **exact**
    JSON body bytes, using `webhookSecret` (verify using the raw request body,
    not a re-stringified parse, to avoid key-order drift)


    **Event types:** `deposit.confirmed` | `deposit.failed` | `deposit.pending`;
    `withdrawal.confirmed` | `withdrawal.failed` | `withdrawal.pending`;
    `transaction.confirmed` | `transaction.failed`. If `webhookEvents` is a
    non-empty list, only those events are sent; if the field is missing or
    cannot be parsed as a string array, no subscription filter is applied (an
    **empty** array blocks all deliveries).


    **Payload:** JSON object including `event` and chain fields such as
    `txHash`, `toAddress`, `fromAddress`, `amount`, `coinSymbol`, `tokenSymbol`,
    `layer` (`L1Transaction` or `L2Transaction`), plus optional metadata
    (`referenceId`, `receiverInfo`, `depositRequest`, fees, timestamps, etc.)
    depending on the event.


    **Delivery & retries:** non-2xx responses, timeouts, or network errors mark
    the attempt failed and schedule retries with exponential backoff (cap 30s)
    up to `webhookRetryCount` (default **3**). If the response body parses as
    JSON with `"ok": true`, retries are not scheduled for that attempt. Due
    retries are also processed when operators run the `webhook-retries`
    background job.


    **Internal vs merchant URL:** `POST /api/webhook/event` is **admin-only**
    system ingestion (signed with `WEBHOOK_SECRET`); it is **not** the endpoint
    merchants expose. Separate chain-provider callbacks exist under other
    `/api/webhook/*` routes and are not part of the merchant integration.


    **This export:** partner/merchant routes only (suitable for public ReadMe).
servers:
  - url: https://api.dcepay.io
    description: Production
  - url: https://api.dcepay.dev
    description: Staging
tags:
  - name: Partner
    description: "Merchant-facing integration: balances, deposit addresses and
      hosted deposit links, exchange rates, transactions, withdrawals, AML
      address checks. Most routes send the API key in `Authorization` (raw key;
      Bearer optional). `GET /api/deposit-page` is a public session endpoint and
      uses a `token` query parameter instead."
  - name: Internal
    description: "Operator and system routes: users, wallets, deposits, settlements,
      reconciliation, webhooks, merchant configuration, and admin APIs."
  - name: Balances
    description: Per-currency available and pending balances for the authenticated
      merchant user (`BalanceService`).
  - name: Deposits
    description: "Deposit addresses (`NetworkSymbol`: ETH, TRX, SEP, TRX_SHASTA,
      BNB, tBNB, POL, POL_AMOY), deposit URLs, and single-use deposit page
      tokens."
  - name: Payouts
    description: Withdrawals with configurable fees (`WithdrawalFeeService`),
      balance reservation, and payout processing.
  - name: Compliance
    description: "Paid address checks: full AML screening (Elliptic risk score, risk
      level, sanctions exposure; /api/aml-checks) and instant TRON deny-list
      compliance verdicts (sanctions, Tether freezes, scam labels;
      /api/compliance-checks)."
  - name: Rates
    description: Exchange rates for a requested base currency.
  - name: Transactions
    description: Unified transaction history with pagination and optional filters;
      ties deposits, withdrawals, and webhook metadata.
  - name: Users
    description: Platform and merchant-scoped user records.
  - name: Wallets
    description: Per-user chain wallets and balance sync.
  - name: Settlements
    description: Settlement batches and approval workflow.
  - name: Reconciliation
    description: Reconciliation jobs and status.
  - name: Merchants
    description: Merchant fee config and settlement addresses.
  - name: Webhooks
    description: Operator listing and ingestion at `/api/webhook/event` (admin API
      key + signed payload). Merchant-facing delivery is **outbound** HTTP POSTs
      to the merchant `webhookUrl`; see API intro **Merchant webhooks** section.
  - name: Admin
    description: System settings and background job administration.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: DCE merchant or operator API key. Send as the full `Authorization`
        header value using the raw key (no `Bearer` prefix required). `Bearer
        <API key>` is also accepted. Does not apply to `GET /api/deposit-page`
        (session `token` query parameter).
paths:
  /api/aml-checks/{checkId}:
    get:
      operationId: get_api_aml_checks__checkId
      summary: Get an AML check
      description: >-
        One AML check with the full provider `result`. A `PENDING` check is
        refreshed from the provider when you read it, so polling this endpoint
        (every few seconds) picks up the result; most checks settle within
        seconds, complex address histories can take up to ~3 minutes. Checks
        still pending after an hour are failed and refunded.


        **Errors:** **404** unknown id (or a check belonging to another
        merchant).


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/aml-checks:
    post:
      operationId: post_api_aml_checks
      summary: Run an AML address check
      description: >-
        Screens a wallet address for AML risk (Elliptic): risk score, risk
        level, sanctions exposure and the risk detail behind them. Use it before
        accepting a deposit from, or paying out to, an address you do not know.


        **Price:** **1.50** per check, deducted from your balance in-kind (1.50
        USDT or 1.50 USDC). The fee is reserved when the check starts and
        **charged only when a result is delivered** — a `SKIPPED` check (the
        address has no on-chain activity) and a `FAILED` check are returned to
        your balance.


        **Body (JSON):** `address` (required); `network` (required) — one of the
        networks live on DCE: `TRX`, `BNB`, `POL` (`ETH` once Ethereum goes
        live; testnets are not screenable); optional `referenceId` (unique per
        merchant — a reused value returns **409**); optional `feeCurrency` +
        `feeNetwork` (both or neither) to choose the balance that pays. Default
        fee balance: the screened network (USDT, then USDC), then USDT on TRX,
        then your largest balance.


        **Response:** `{ success, check }` — **200** when settled (`status`
        `COMPLETED`, `SKIPPED` or `FAILED`), **202** while the provider is still
        working (`PENDING`; poll `GET /api/aml-checks/{checkId}`). `check`:
        `id`, `referenceId`, `address`, `network`, `provider` (`elliptic`),
        `status`, `riskScore` (decimal string 0–10, `null` = no risk triggers),
        `riskLevel` (`low` 0–3 | `medium` 3–7 | `high` 7–10 | `null`),
        `isSanctioned`, `sanctions` (`self`, `exposure` share/hops), `result`
        (provider risk detail: contributions, cluster entities, triggered
        rules), `fee` (`amount`, `currency`, `network`, `status` `RESERVED` |
        `CHARGED` | `REFUNDED`), `error`, `createdAt`, `completedAt`. A
        `COMPLETED` check is charged even in the rare case the provider returns
        no risk data; `error` then says so and all risk fields are `null` — do
        not read that as clean.


        **Errors:** **400** `NETWORK_NOT_SUPPORTED` (with `supportedNetworks`),
        `INVALID_ADDRESS`, `INSUFFICIENT_BALANCE` (with `fee`); **403**
        non-merchant key or inactive merchant; **409** `DUPLICATE_REFERENCE`;
        **429** `RATE_LIMITED` (platform-wide screening capacity, retry within a
        minute — nothing is reserved); **503** `AML_UNAVAILABLE`.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_aml_checks
      summary: List AML checks
      description: >-
        Your AML checks, newest first (without the `result` detail — fetch one
        check for that).


        **Query (all optional):** `page`, `limit` (max 100, default 20),
        `status` (`PENDING` | `COMPLETED` | `SKIPPED` | `FAILED`), `network`,
        `address`, `referenceId`.


        **Response:** `checks`, `pagination` (`total`, `page`, `limit`,
        `pages`), and `service` — `provider`, `feePerCheck` and the
        `supportedNetworks` you can screen right now.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/balance:
    get:
      operationId: get_api_balance
      summary: Get balances (per currency and network)
      description: >-
        Balances are segmented per `(currency, network)` pair — deposits on a
        chain can only be withdrawn on that same chain.


        **Query (both optional):** `currency` — `USDT` | `USDC`; `network` —
        `TRX`, `ETH`, `BNB`, `POL`, `SOL` (testnets: `TRX_SHASTA`, `SEP`,
        `tBNB`, `POL_AMOY`, `SOL_DEVNET`).


        **Response:**

        - With BOTH `currency` and `network`: the single balance row for that
        pair — `currency`, `network`, `available`, `pending` (decimal strings),
        `lastUpdatedAt` (zero balances if no row exists yet).

        - Otherwise: `{ balances: [...] }` — every balance row the account holds
        (optionally filtered), each with `currency`, `network`, `available`,
        `pending`, `withdrawalEnabled`, `networkFee` (current per-chain
        withdrawal fee, `null` when withdrawals are disabled for the pair),
        `maxWithdrawable` (available minus the network fee, floored at 0), and
        `lastUpdatedAt`.


        Enabled today: `USDT` on `TRX` for deposits and withdrawals;
        `USDT`/`USDC` on `BNB` (since 2026-09-08) and `POL` (since 2026-09-09)
        for deposits, with `withdrawalEnabled: false` until withdrawals open on
        each network. Other pairs appear once enabled.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Balances
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/compliance-checks/{checkId}:
    get:
      operationId: get_api_compliance_checks__checkId
      summary: Get a compliance check
      description: >-
        One stored compliance verdict. Re-reading never re-checks or charges —
        run a new check for a fresh verdict.


        **Errors:** **404** unknown id (or a check belonging to another
        merchant).


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/compliance-checks:
    post:
      operationId: post_api_compliance_checks
      summary: Run a TRON address compliance check
      description: >-
        Instant deny-list verdict for a TRON address: on a sanctions list (OFAC
        SDN, EU, UK and others) or flagged for scams, ransomware, stolen funds
        or fraud (`aml_risk`); USDT frozen by Tether (`usdt_frozen`); a
        smart-contract address (`smart_contract`); a confirmed mass-spam sender
        (`spam_sender`); or `clean`. Not a risk score — use `POST
        /api/aml-checks` for a full Elliptic screening.


        **Use it before sending:** screen the payout destination (`address`).
        **After receiving:** screen who paid you with `depositId` — the check
        runs on that deposit's on-chain sender, never on your deposit address.


        **Price:** **1.00** per verdict, in-kind (USDT or USDC) from your
        balance, debited when the verdict is returned. No verdict (service
        unavailable, rate limit, invalid address) → nothing charged.


        **Body (JSON):** exactly one of `address` (TRON, `T…`) or `depositId` (a
        TRON deposit you received); optional `network` (`TRX`, the default —
        TRON only); optional `referenceId` (unique per merchant, **409** when
        reused); optional `feeCurrency` + `feeNetwork`.


        **Response:** **200** `{ success, check }` — `id`, `referenceId`,
        `address`, `network`, `depositId`, `verdict` (`blocked`, `category`,
        `severity`, `reasonCode` e.g. `SANCTIONS_OFAC_SDN`, `label`,
        `checkedAt`), `fee` (`amount`, `currency`, `network`, `status`
        `CHARGED`), `createdAt`.


        **Errors:** **400** `INVALID_REQUEST`, `INVALID_ADDRESS`,
        `NETWORK_NOT_SUPPORTED`, `INSUFFICIENT_BALANCE`; **403** non-merchant
        key or inactive merchant; **404** `DEPOSIT_NOT_FOUND`; **409**
        `DUPLICATE_REFERENCE`; **422** `DEPOSIT_SENDER_UNKNOWN`; **429**
        `RATE_LIMITED`; **503** `COMPLIANCE_UNAVAILABLE` — the verdict could not
        be produced: retry, and **do not treat the address as clean**.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_compliance_checks
      summary: List compliance checks
      description: >-
        Your compliance checks, newest first. Re-reading a stored verdict is
        free.


        **Query (all optional):** `page`, `limit` (max 100, default 20),
        `blocked` (`true` | `false`), `category`, `address`, `depositId`,
        `referenceId`.


        **Response:** `checks`, `pagination`, and `service` (`feePerCheck`,
        `supportedNetworks`).


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Compliance
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-address:
    get:
      operationId: get_api_deposit_address
      summary: List deposit addresses
      description: >-
        Returns deposit addresses for the authenticated user, newest first, each
        with related deposit summaries (`id`, `amount`, `currency`, `status`,
        `createdAt`).


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    post:
      operationId: post_api_deposit_address
      summary: Create deposit address
      description: >-
        Allocates a chain deposit address for an end-user.


        **Body (JSON):** `network` — one of `TRX`, `ETH`, `BNB`, `POL`, `SOL`
        (testnets: `TRX_SHASTA`, `SEP`, `tBNB`, `POL_AMOY`, `SOL_DEVNET`);
        `identifier` (required); `referenceId` (optional). Deposits are enabled
        per (currency, network) pair — see the Fees reference.


        If the user is linked to a merchant profile, that profile must be
        **ACTIVE** or the request fails.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-page:
    get:
      operationId: get_api_deposit_page
      summary: Resolve deposit session (public)
      description: >-
        Returns deposit details for a **single-use** hosted deposit session.


        **Query:** `token` (required) — session token issued when creating a
        deposit URL flow.


        **Not** authenticated with an API key. Successful responses include
        `address`, `network`, `referenceId`, and an `expiresAt` hint; the token
        is consumed on first successful use. Errors: missing token (400),
        invalid token (404), expired or already used (410).


        **Authentication:** none (session `token` only).
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security: []
      responses:
        "200":
          description: Deposit session resolved; token consumed.
        "400":
          description: Missing `token` query parameter.
        "404":
          description: Invalid or unknown token.
        "410":
          description: Token expired or already used.
        "500":
          description: Internal server error
  /api/deposit-page/status:
    get:
      operationId: get_api_deposit_page_status
      summary: Poll deposit session payment status (public)
      description: >-
        Live payment status for a hosted deposit session — the hosted page polls
        this to move through **waiting → detected → completed**.


        **Query:** `token` (required) — the deposit session token.


        **Errors:** missing token (400), invalid token (404), expired session
        (410).


        **Authentication:** none (session `token` only).
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-url:
    post:
      operationId: post_api_deposit_url
      summary: Create deposit URL / session
      description: >-
        Creates a fresh deposit address (via upstream provisioning when
        configured) and returns a session used for hosted checkout.


        **Body (JSON):** `network`, `identifier`; optional `referenceId`,
        `requestedCurrency`, `requestedAmount`, `token`. Merchant users require
        an **ACTIVE** merchant profile.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_deposit_url
      summary: List deposit link metadata
      description: >-
        Lists existing deposit addresses for the user and builds hosted page
        URLs of the form `{app base URL}/deposit/{depositAddressId}`, including
        address, `network`, `createdAt`, and nested deposits.


        **Query:** optional `network` to filter by chain.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/exchange-rates:
    get:
      operationId: get_api_exchange_rates
      summary: Get exchange rates
      description: >-
        Returns quoted rates for a target currency.


        **Query:** `requestedCurrency` (required) — 3-letter ISO-style code.


        **Response:** `baseCurrency`, upstream `rates`, and server `timestamp`.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Rates
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/transactions:
    get:
      operationId: get_api_transactions
      summary: List transactions
      description: >-
        Paginated ledger of deposits, withdrawals, and related records for the
        authenticated user.


        **Query:** `page`, `limit` (defaults apply); optional `type`, `status`,
        `currency`, `network` to filter. Response rows carry `currency` and
        `network`, fee breakdowns, and `referenceId` resolution from deposits,
        withdrawals, and webhook metadata where present.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Transactions
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/withdrawals:
    post:
      operationId: post_api_withdrawals
      summary: Create withdrawal
      description: >-
        Creates a withdrawal and reserves balance (pending) while the payout is
        processed.


        **Body (JSON):** `amount` — decimal **string**; `currency` (required) —
        `USDT` | `USDC`; `network` (required) — chain to pay out on (`TRX`,
        `ETH`, `BNB`, `POL`, `SOL`, or a testnet symbol); `destination` — payout
        address; optional `description`, `referenceId`.


        **Per-chain rules:** the `(currency, network)` pair must be enabled for
        withdrawals (`USDT` on `TRX` today; `BNB` and `POL` pairs open after
        their first production deposits) or the request fails with **400**
        listing the enabled pairs. Balances are per-chain — funds on other
        networks cannot cover the withdrawal. Total debited = `amount` +
        commission + per-chain `networkFee` (quoted at submission from the asset
        fee matrix).


        **Idempotency:** `referenceId` is unique per merchant — resubmitting a
        used reference returns **409** and never creates a second payout. A
        reference left behind by a FAILED/CANCELLED attempt is released
        automatically.


        **Errors:** insufficient available balance (including fees) → **400**
        with `available` / `feeInfo`; inactive/suspended merchant account →
        **403** `Merchant account is not active`; validation failures → **400**
        with field details. Reseller-initiated withdrawals are pinned to the
        reseller's registered withdrawal address and require admin approval
        before submission to the chain.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Payouts
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_withdrawals
      summary: List withdrawals
      description: >-
        Lists withdrawal requests for the authenticated user with status and
        metadata.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Payouts
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
