openapi: 3.0.3
info:
  title: DCE API
  version: 1.0 (updated 2026-08-13)
  description: >-
    **Last updated:** 2026-08-13 — see the
    [Changelog](https://docs.dcepay.io/docs/changelog) for what changed.


    **DCE API** — Next.js service for merchant cryptocurrency operations:
    balances, deposits, deposit sessions, exchange rates, transaction history,
    withdrawals (with configurable fees), settlements, and internal webhook
    event tooling where exposed.


    **Authentication:** send the API key in the `Authorization` header on all
    routes except `GET /api/deposit-page` (use the raw key; `Bearer` prefix is
    optional). The deposit page uses a `token` query parameter from the
    deposit-session flow.


    **Networks** (request body `network` where applicable): `ETH`, `TRX`, `SEP`,
    `TRX_SHASTA`, `BNB`, `tBNB` (see Prisma `NetworkSymbol`).


    **Amounts:** request and response monetary fields are often decimal
    **strings** to preserve precision. Merchant-linked users may require an
    **ACTIVE** `merchantProfile` for deposit creation.


    **Errors:** validation issues typically return **400** with JSON `details`;
    auth failures **401**; insufficient balance on withdrawals **400** with
    balance/fee hints.


    **Merchant webhooks (outbound):** configure `webhookUrl`, `webhookSecret`,
    `webhookEnabled`, and optional `webhookEvents`, `webhookTimeout`, and
    `webhookRetryCount` on the merchant profile (via user/merchant APIs). When a
    deposit, withdrawal, or ledger transaction reaches a notifyable state, the
    service **POST**s JSON to `webhookUrl` with:

    - `Content-Type: application/json`

    - `X-Webhook-Event` — event name (see below)

    - `X-Webhook-Signature` — lowercase **hex** HMAC-SHA256 of the **exact**
    JSON body bytes, using `webhookSecret` (verify using the raw request body,
    not a re-stringified parse, to avoid key-order drift)


    **Event types:** `deposit.confirmed` | `deposit.failed` | `deposit.pending`;
    `withdrawal.confirmed` | `withdrawal.failed` | `withdrawal.pending`;
    `transaction.confirmed` | `transaction.failed`. If `webhookEvents` is a
    non-empty list, only those events are sent; if the field is missing or
    cannot be parsed as a string array, no subscription filter is applied (an
    **empty** array blocks all deliveries).


    **Payload:** JSON object including `event` and chain fields such as
    `txHash`, `toAddress`, `fromAddress`, `amount`, `coinSymbol`, `tokenSymbol`,
    `layer` (`L1Transaction` or `L2Transaction`), plus optional metadata
    (`referenceId`, `receiverInfo`, `depositRequest`, fees, timestamps, etc.)
    depending on the event.


    **Delivery & retries:** non-2xx responses, timeouts, or network errors mark
    the attempt failed and schedule retries with exponential backoff (cap 30s)
    up to `webhookRetryCount` (default **3**). If the response body parses as
    JSON with `"ok": true`, retries are not scheduled for that attempt. Due
    retries are also processed when operators run the `webhook-retries`
    background job.


    **Internal vs merchant URL:** `POST /api/webhook/event` is **admin-only**
    system ingestion (signed with `WEBHOOK_SECRET`); it is **not** the endpoint
    merchants expose. Separate chain-provider callbacks exist under other
    `/api/webhook/*` routes and are not part of the merchant integration.


    **This export:** partner/merchant routes only (suitable for public ReadMe).
servers:
  - url: https://api.dcepay.io
    description: Production
  - url: https://api.dcepay.dev
    description: Staging
tags:
  - name: Partner
    description: "Merchant-facing integration: balances, deposit addresses and
      hosted deposit links, exchange rates, transactions, withdrawals. Most
      routes send the API key in `Authorization` (raw key; Bearer optional).
      `GET /api/deposit-page` is a public session endpoint and uses a `token`
      query parameter instead."
  - name: Internal
    description: "Operator and system routes: users, wallets, deposits, settlements,
      reconciliation, webhooks, merchant configuration, and admin APIs."
  - name: Balances
    description: Per-currency available and pending balances for the authenticated
      merchant user (`BalanceService`).
  - name: Deposits
    description: "Deposit addresses (`NetworkSymbol`: ETH, TRX, SEP, TRX_SHASTA,
      BNB, tBNB), deposit URLs, and single-use deposit page tokens."
  - name: Payouts
    description: Withdrawals with configurable fees (`WithdrawalFeeService`),
      balance reservation, and payout processing.
  - name: Rates
    description: Exchange rates for a requested base currency.
  - name: Transactions
    description: Unified transaction history with pagination and optional filters;
      ties deposits, withdrawals, and webhook metadata.
  - name: Users
    description: Platform and merchant-scoped user records.
  - name: Wallets
    description: Per-user chain wallets and balance sync.
  - name: Settlements
    description: Settlement batches and approval workflow.
  - name: Reconciliation
    description: Reconciliation jobs and status.
  - name: Merchants
    description: Merchant fee config and settlement addresses.
  - name: Webhooks
    description: Operator listing and ingestion at `/api/webhook/event` (admin API
      key + signed payload). Merchant-facing delivery is **outbound** HTTP POSTs
      to the merchant `webhookUrl`; see API intro **Merchant webhooks** section.
  - name: Admin
    description: System settings and background job administration.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: DCE merchant or operator API key. Send as the full `Authorization`
        header value using the raw key (no `Bearer` prefix required). `Bearer
        <API key>` is also accepted. Does not apply to `GET /api/deposit-page`
        (session `token` query parameter).
paths:
  /api/balance:
    get:
      operationId: get_api_balance
      summary: Get balances (per currency and network)
      description: >-
        Balances are segmented per `(currency, network)` pair — deposits on a
        chain can only be withdrawn on that same chain.


        **Query (both optional):** `currency` — `USDT` | `USDC`; `network` —
        `TRX`, `ETH`, `BNB`, `SOL` (testnets: `TRX_SHASTA`, `SEP`, `tBNB`,
        `SOL_DEVNET`).


        **Response:**

        - With BOTH `currency` and `network`: the single balance row for that
        pair — `currency`, `network`, `available`, `pending` (decimal strings),
        `lastUpdatedAt` (zero balances if no row exists yet).

        - Otherwise: `{ balances: [...] }` — every balance row the account holds
        (optionally filtered), each with `currency`, `network`, `available`,
        `pending`, `withdrawalEnabled`, `networkFee` (current per-chain
        withdrawal fee, `null` when withdrawals are disabled for the pair),
        `maxWithdrawable` (available minus the network fee, floored at 0), and
        `lastUpdatedAt`.


        Currently only `USDT` on `TRX` is enabled for deposits and withdrawals;
        other pairs appear once enabled.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Balances
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-address:
    get:
      operationId: get_api_deposit_address
      summary: List deposit addresses
      description: >-
        Returns deposit addresses for the authenticated user, newest first, each
        with related deposit summaries (`id`, `amount`, `currency`, `status`,
        `createdAt`).


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    post:
      operationId: post_api_deposit_address
      summary: Create deposit address
      description: >-
        Allocates a chain deposit address for an end-user.


        **Body (JSON):** `network` — one of `TRX`, `ETH`, `BNB`, `SOL`
        (testnets: `TRX_SHASTA`, `SEP`, `tBNB`, `SOL_DEVNET`); `identifier`
        (required); `referenceId` (optional). Currently only `TRX` deposits are
        enabled.


        If the user is linked to a merchant profile, that profile must be
        **ACTIVE** or the request fails.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-page:
    get:
      operationId: get_api_deposit_page
      summary: Resolve deposit session (public)
      description: >-
        Returns deposit details for a **single-use** hosted deposit session.


        **Query:** `token` (required) — session token issued when creating a
        deposit URL flow.


        **Not** authenticated with an API key. Successful responses include
        `address`, `network`, `referenceId`, and an `expiresAt` hint; the token
        is consumed on first successful use. Errors: missing token (400),
        invalid token (404), expired or already used (410).


        **Authentication:** none (session `token` only).
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security: []
      responses:
        "200":
          description: Deposit session resolved; token consumed.
        "400":
          description: Missing `token` query parameter.
        "404":
          description: Invalid or unknown token.
        "410":
          description: Token expired or already used.
        "500":
          description: Internal server error
  /api/deposit-page/status:
    get:
      operationId: get_api_deposit_page_status
      summary: Poll deposit session payment status (public)
      description: >-
        Live payment status for a hosted deposit session — the hosted page polls
        this to move through **waiting → detected → completed**.


        **Query:** `token` (required) — the deposit session token.


        **Errors:** missing token (400), invalid token (404), expired session
        (410).


        **Authentication:** none (session `token` only).
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/deposit-url:
    post:
      operationId: post_api_deposit_url
      summary: Create deposit URL / session
      description: >-
        Creates a fresh deposit address (via upstream provisioning when
        configured) and returns a session used for hosted checkout.


        **Body (JSON):** `network`, `identifier`; optional `referenceId`,
        `requestedCurrency`, `requestedAmount`, `token`. Merchant users require
        an **ACTIVE** merchant profile.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_deposit_url
      summary: List deposit link metadata
      description: >-
        Lists existing deposit addresses for the user and builds hosted page
        URLs of the form `{app base URL}/deposit/{depositAddressId}`, including
        address, `network`, `createdAt`, and nested deposits.


        **Query:** optional `network` to filter by chain.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Deposits
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/exchange-rates:
    get:
      operationId: get_api_exchange_rates
      summary: Get exchange rates
      description: >-
        Returns quoted rates for a target currency.


        **Query:** `requestedCurrency` (required) — 3-letter ISO-style code.


        **Response:** `baseCurrency`, upstream `rates`, and server `timestamp`.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Rates
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/transactions:
    get:
      operationId: get_api_transactions
      summary: List transactions
      description: >-
        Paginated ledger of deposits, withdrawals, and related records for the
        authenticated user.


        **Query:** `page`, `limit` (defaults apply); optional `type`, `status`,
        `currency`, `network` to filter. Response rows carry `currency` and
        `network`, fee breakdowns, and `referenceId` resolution from deposits,
        withdrawals, and webhook metadata where present.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Transactions
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
  /api/withdrawals:
    post:
      operationId: post_api_withdrawals
      summary: Create withdrawal
      description: >-
        Creates a withdrawal and reserves balance (pending) while the payout is
        processed.


        **Body (JSON):** `amount` — decimal **string**; `currency` (required) —
        `USDT` | `USDC`; `network` (required) — chain to pay out on (`TRX`,
        `ETH`, `BNB`, `SOL`, or a testnet symbol); `destination` — payout
        address; optional `description`, `referenceId`.


        **Per-chain rules:** the `(currency, network)` pair must be enabled for
        withdrawals (currently `USDT` on `TRX`) or the request fails with
        **400** listing the enabled pairs. Balances are per-chain — funds on
        other networks cannot cover the withdrawal. Total debited = `amount` +
        commission + per-chain `networkFee` (quoted at submission from the asset
        fee matrix).


        **Idempotency:** `referenceId` is unique per merchant — resubmitting a
        used reference returns **409** and never creates a second payout. A
        reference left behind by a FAILED/CANCELLED attempt is released
        automatically.


        **Errors:** insufficient available balance (including fees) → **400**
        with `available` / `feeInfo`; inactive/suspended merchant account →
        **403** `Merchant account is not active`; validation failures → **400**
        with field details. Reseller-initiated withdrawals are pinned to the
        reseller's registered withdrawal address and require admin approval
        before submission to the chain.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Payouts
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
    get:
      operationId: get_api_withdrawals
      summary: List withdrawals
      description: >-
        Lists withdrawal requests for the authenticated user with status and
        metadata.


        **Authentication:** `Authorization: <API key>` — send the raw key (no
        `Bearer` prefix required). `Bearer <API key>` is still accepted for
        compatibility.
      tags:
        - Partner
        - Payouts
      x-visibility: partner
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad request — validation error or business rule failure.
        "401":
          description: Unauthorized — missing or invalid API key.
        "403":
          description: Forbidden — insufficient permissions for this operation.
        "500":
          description: Internal server error
